tr.unread td.subject a
	{
	background-image: url(../images/circle_green.png);
	background-repeat: no-repeat;
	padding: 0px 0px 0px 17px;
	background-position-y: 0px
	}

tr.updated td.subject a
	{
	background-image: url(../images/circle_blue.png);
	background-repeat: no-repeat;
	padding: 0px 0px 0px 17px;
	background-position-y: 0px
	}
#top-menu a span.unread
	{
	background-color: #c3e26b
	}
#top-menu  a span.updated
	{
	background-color: #76a8d7
	}
#top-menu span
	{float: left;}
		

.hidden
	{
	display: none;
	}